.container{
  margin: 0  auto;
  max-width: 960px;
}


* {
  margin: 0;
  padding: 0;
}
/* *************************** */

/* *************************** */
body {
  background-color: rgb(128, 128, 128);
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
}

/* *************************** */
/* <HEADER> */
.header {
  background-color: #030303;
  padding: 10px;
}
#top {
  text-transform: uppercase;
  letter-spacing: 10px;
  color: rgba(128, 128, 128, 0.701);
  padding: 0 0 0 10px;
}
.header-item {
  display: flex;
  align-items: center;
}
.header-item-logo img {
  border-radius: 50%;
}
/* </HEADER> */
/* *************************** */
/* <MENU> */
.nav {
  margin: 30px 0 50px 0;
  
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.701);
}
.nav-menu a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
/* </MENU> */
/* *************************** */
/* <FOOTER> */
.footer {
  background-color: #030303;
  padding: 50px 0 50px 0;
  color: #000;
}
.footer-text {
  text-align: center;
  color: black;
  background-color: rgba(128, 128, 128, 0.701);
}
/* </FOOTER> */


ol {
  list-style: none;
  counter-reset: li;
}
li {
  padding: 0 0 0 10px;
  margin-bottom: 10px;
}
li:before {
  counter-increment: li;
  content: counters(li, ".") ")";
}

